* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: left;
  background-color: #0e1111;
  width: 100vw;
  height: 6vh;
}

.header-button {
  background-color: #0e1111;
  color: #ffe37a;
  width: 7vw;
  height: 100%;
  border-width: 3.5px;
  border-color: #ffe37a;
  border-style: solid;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 16px;
  font-style: bold;
}

.middle-borders {
  border-left-width: 1.25px;
  border-right-width: 1.25px;
}

.right-borders {
  border-width: 3.5px;
  border-left-width: 1.25px;

}


.header-button:hover {
  background-color: #ffe37a;
  color: black;
}

.body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 94vh;
  background-color: #232b2b;
}

.kitty {
  max-width: 50vw;
  max-height: 100vh;
  width: auto;
  height: auto;
  object-fit: contain; /* Ensures the image maintains aspect ratio and fills the space */
  background: none;
}

.WIP {
  margin-top: 100px;
  color: white;
  font-size: 50px;
  font-family: 'Trebuchet MS';
}

/* Media query for smaller screens (phones) */
@media (max-width: 767px) {
  .header-button {
    width: 11vw;
  }

  .kitty {
  max-width: 50vw;
  max-height: 50vh;
  width: auto;
  height: auto;
  object-fit: contain; /* Ensures the image maintains aspect ratio and fills the space */
  background: none;
  
}

  .WIP {
    font-size: 25px;
  }

}